<div style="padding-bottom:1rem; padding-top:1rem;">
    <footer>
        <a href="https://www.instagram.com/university.theater/">
            <i style="color: #fff; font-size: 23px" class="fa fa-instagram Footer_socialIcon___4mnL">
            </i></a>
        
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="https://www.facebook.com/universitytheater">
            <i style="color: #fff; font-size: 23px" class="fa-brands fa-facebook">
            </i></a>
        
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a href="mailto:ut-commitee@uchciago.edu">
            <i style="color: #fff; font-size: 23px" class="fa-regular fa-envelope">
            </i></a>
    </footer>
</div>