<div style="padding-bottom:1rem; padding-top:1rem; z-index: 3">
    <a href="https://www.instagram.com/university.theater/" alt="UT's Instagram Page">
        <i style="color: #fff; font-size: 23px" class="fa fa-instagram Footer_socialIcon___4mnL">
        </i></a>
    
    &nbsp;&nbsp;&nbsp;&nbsp;

    <a href="https://www.facebook.com/universitytheater" alt="UT's Facebook Page">
        <i style="color: #fff; font-size: 23px" class="fa-brands fa-facebook">
        </i></a>
    
    &nbsp;&nbsp;&nbsp;&nbsp;

    <a href="mailto:ut-committee@lists.uchicago.edu" alt="UT Committee's Email">
                <i style="color: #fff; font-size: 23px" class="fa-regular fa-envelope">
        </i></a>
</div>