<nav style="position:sticky;top:0;z-index:3;" class="bg-light navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ '/' | relative_url }}">
    <img src="{{ site.baseurl }}/assets/{{ site.logo }}" style="margin-top:-10px;" height="30" alt="">
    University Theater
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {%- for page_hsh in site.data.navbar -%}
        {%- assign my_page = site.pages | where: "path", page_hsh.page | first -%}
        {%- if page_hsh.subpages.size > 0 or page_hsh.collection -%}
        {%- assign is_dropdown = true -%}
        {%- else -%}
        {%- assign is_dropdown = false -%}
        {%- endif -%}
        <li class="nav-item {% if is_dropdown %} dropdown {% endif %}" foobar="{{is_dropdown}}">
          {% capture http_prestr %}{{ page_hsh.page | slice: 0, 4 }}{% endcapture %}
          <a class="nav-link {% if is_dropdown %} dropdown-toggle {% endif %}" {% if is_dropdown %}id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% elsif page_hsh.page %}{% if http_prestr == "http" %}target="_blank"{% endif %} href="{% if my_page %}{{ my_page.url | relative_url }}{% else %}{{ page_hsh.page }}{% endif %}"{% endif %}>
            {{ page_hsh.name }}
          </a>
          {%- if page_hsh.subpages.size > 0 -%}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%- for subpage_hsh in page_hsh.subpages -%}
                {%- for tmp in subpage_hsh -%}
                  {%- assign my_subpage = site.pages | where: "path", tmp[1] | first -%}
                  {% capture http_prestr %}{{ tmp[1] | slice: 0, 4 }}{% endcapture %}
                  <a class="dropdown-item" {% if http_prestr == "http" %}target="_blank"{% endif %} href="{% if http_prestr == "http" %}{{ tmp[1] }}{% else %}{{ my_subpage.url | relative_url }}{% endif %}">
                    {{ tmp[0] }}
                  </a>
                {%- endfor -%}
              {%- endfor -%}
            </div>
          {%- elsif page_hsh.collection -%}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {%- for collection_item in site[page_hsh.collection] -%}
                <a class="dropdown-item" href="{{ collection_item.url | relative_url }}">
                  {{ collection_item.title }}
                </a>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</nav>
