.bylaws ol > li > ul {
  list-style-type: lower-alpha !important;
}
.bylaws ol > li > ul > li > h3 + p + ul,
.bylaws ol > li > ul > li > h4 + p + ul {
  list-style-type: lower-roman !important;
}
.bylaws li > h3, li > h4, li > h5, li > h6 {
  font-size:initial;
  font-style:italic;
  margin:0;
  margin-top:15px;
  display:inline-block;
  + p {
    display:inline;
    + p {
      margin-top: 15px;
    }
  }
  &:after {
    content: ".";
  }
}

.bylaws > ul {
  list-style-type: upper-alpha !important;
  > li {
    &::marker {
      font-size: 1.25rem;
    }
    > h3 {
      margin-top:0;
      font-size: 1.25rem;
      font-style:normal;
      &:after {
        content: "";
      }
    }
  }
}
.fake-letter-i {
  // display:none;
  visibility: hidden;
  position:absolute;
}
.bylaws-off-off > ul > li {
  > ol > li > ul > li > ul {
    list-style-type: lower-roman !important;
    > li > ul {
      list-style-type: upper-alpha !important;
      > li > ul {
        list-style-type: lower-roman !important;
      }
    }
  }
  > h3 + p {
    display:block;
  }
}

.no-dot-list-header > h4:after {
  content: "";
}
@each $style_type in lower-alpha, lower-roman, upper-roman, circle {
  .ul-#{$style_type} {
    list-style-type: $style_type;
  }
}

.t24-bylaws > ul > li {
  > ul {
    list-style-type: upper-roman;
    > li > ul {
      list-style-type: lower-alpha;
    }
  }
  > h3 {
    font-style:normal;
    display:block;
    &:after {
      content: "";
    }
  }
}

.clean-header > h3:after {
  content: "";
}
.clean-header > h3 {
  font-style:normal;
}

.bylaws-deans-men > ul > li {
  h3 {
    font-style:normal;
    display:block;
    &:after {
      content: "";
    }
  }
}




.toc.page-content {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-left:1em;
  margin-right:1em;
  overflow:visible;
}
.toc-right-sidebar {
  position:sticky;
  top:0;
  height:100vh;
  overflow-y:scroll;
}
.toc.post-header {
  padding:1em;
  margin-bottom:0;
  padding-bottom:0;
}
