---
---
.show-thumb {
  padding: 0;
  width: 100%;
}

.video-player {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.video-player-wrapper {
  padding: 40% 0 0 0;
  max-height: 15rem;
  max-width: 100%;
  height: auto;
  width: auto;
  position:relative;
  text-align: center;
}

.show-banner {
  max-width: 100%;
  max-height: 22rem;
  width: auto;
}

.card {
  max-width: 18rem;
  height: 100%;
  border-radius: 0.4rem;
}

.show-container {
  padding: 0;
  height: 100%;
}

.row {
  height: 100%;
}

.card {
  margin: auto;
  max-width: 100%;
  overflow: auto;
  min-height: 15.5rem;
}

.show-info {
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  margin: 0.1rem;
}
.bylaws-proposals > ol > li > ul > li > ul {
  list-style-type: lower-roman;
}

.bylaws-process > ul {
  list-style-type: lower-alpha;
  > li > ul {
    list-style-type: lower-roman;
  }
}

.bylaws-off-off {
  > ol > li > ul > li > ul {
    list-style-type: lower-roman !important;
    > li > ul {
      list-style-type: upper-alpha !important;
      > li > ul {
        list-style-type: lower-roman !important;
      }
    }
  }
  > h3 + p {
    display:block;
  }
}

.bylaws-t24 {
  > ol {
    list-style-type: upper-roman;
    > li > ul {
      list-style-type: lower-alpha;
    }
  }
  > ul {
    list-style-type: lower-alpha;
    >li > ul {
      list-style-type: lower-roman;
    }
  }
}

.bylaws-deans-men > ul > li {
  h3 {
    font-style:normal;
    display:block;
    &:after {
      content: "";
    }
  }
}

.bylaws {
  > h3 {
    margin-left: 0.5em;
    font-size:1.4rem;
  }
  h3 {
    ~ p {
      margin-left: 2em;
    }
    ~ ul, ~ ol {
      margin-left:0.5em;
    }
  }

  ol > li > ul {
    list-style-type: lower-alpha;
    > li > {
      h3, h4 {
        + p + ul {
          list-style-type: lower-roman;
        }
      }
    }
  }

  li > {
    h3, h4, h5, h6 {
      font-size:initial;
      font-style:italic;
      margin:0;
      margin-top:15px;
      display:inline-block;
      + p {
        display:inline;
        + p {
          margin-top: 15px;
        }
      }
      &:after {
        content: ".";
      }
    }
  }
}

@each $style_type in lower-alpha, lower-roman, upper-roman, circle {
  .ul-#{$style_type} {
    list-style-type: $style_type !important;
  }
}

.no-dot-list-header > h4:after {
  content: "";
}

.invalid-ref {
  color:red !important;
  &:after {
    content: " (invalid reference)";
    color:grey;
    font-style:italic;
  }
}

.valid-ref {
  &[data-target-section]:after {
    content: " " attr(data-target-section) " ";
    vertical-align: super;
    font-size: smaller;
    font-style: italic;
  }
}

.alert {
  padding: .75rem .75rem 0rem .75rem
}


.toc.page-content {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-left:1em;
  margin-right:1em;
  overflow:visible;
}
.toc-right-sidebar {
  position:sticky;
  top:4em;
  height:100vh;
  overflow-y:scroll;
}
.toc.post-header {
  padding:1em;
  margin-bottom:0;
  padding-bottom:0;
}
#toc > ul > li:hover > ul {
  display:block;
}

body {
  font-family: Roboto,"Helvetica Neue",Arial,"Noto Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}