---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {% for event in page.events %}
      <div class="border container p-2 mb-3">
        <div class="row align-items-center">
          <div class="col-7 col-md-6 p-3">
            <h4 class="font-weight-bold mb-0 text-dark">{{event.title}}</h4>
            <p class="mb-1">{{event.description | markdownify | remove: '<p>' | remove: '</p>'}}</p>
          </div>
          <div class="col-5 col-md-3">
            <div class="container">
              <div class="row">
                <div class="col flex-grow-0 px-0 align-self-top text-center">
                  <i class="far fa-calendar"></i>
                </div>
                <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block">{{event.time | remove: '<p>' | remove: '</p>'}}</span>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col flex-grow-0 px-0 align-self-top text-center">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block">{{event.location | markdownify | remove: '<p>' | remove: '</p>'}}</span>
                </div>
              </div>
            </div>
            {% if event.links %}
              <div class="container">
                <div class="row">
                  <div class="col flex-grow-0 px-0 align-self-top text-center">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="col flex-grow-1 pl-3 pr-0">
                    {% for link in event.links %}
                      <span class="d-block"><a href="{{ link[1] }}">{{ link[0] }}</a></span>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <div class="col-3 justify-content-center img-responsive d-none d-md-block">
            <img src="{{event.image}}" width="100%">
          </div>
        </div>
      </div>
    {% endfor %}

    
    {% capture events-msg %}{% include events-msg.md %}{% endcapture %}
    {{events-msg | markdownify}}
  </div>
</article>