---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 style="text-align: center" class="post-title">{{ page.title | escape }}</h1>
  </header>

  {% capture current-time %} {{ site.time | date: "%s" }} {% endcapture %}

  {% comment %} Display upcoming events {% endcomment %}
  <div class="post-content">
    {% for event in page.events %}
    {% if event.end_time %}
      {% capture event-time %} {{ event.end_time | date: "%s" }} {% endcapture %}
    {% else %}
      {% capture event-time %} {{ event.time | date: "%s" }} {% endcapture %}
    {% endif %}
    {% if event-time <= current-time %}
      {% continue %}
    {% endif %}
      <div class="border container p-2 mb-3">
        <div class="row align-items-center">
          <div class="col-7 col-md-6 p-3">
            <h4 class="font-weight-bold mb-0 text-dark">{{event.title | markdownify | remove: '<p>' | remove: '</p>'}}</h4>
            {% for para in event.description %}
            <p class="mb-1">{{para | markdownify | remove: '<p>' | remove: '</p>'}}</p>
            {% endfor %}
          </div>
          <div class="col-5 col-md-3">
            <div class="container">
              <div class="row">
                <div class="col flex-grow-0 px-0 align-self-top text-center">
                  <i class="far fa-calendar"></i>
                </div>
                <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block">{{event.time | remove: '<p>' | remove: '</p>'}}</span>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col flex-grow-0 px-0 align-self-top text-center">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block">{{event.location | markdownify | remove: '<p>' | remove: '</p>'}}</span>
                </div>
              </div>
            </div>
            {% if event.links %}
              <div class="container">
                {% for link in event.links %}
                <div class="row">
                  <div class="col flex-grow-0 px-0 align-self-top text-center">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block"><a href="{{ link[1] }}">{{ link[0] }}</a></span>
                  </div>
                </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="col-3 justify-content-center img-responsive d-none d-md-block">
            <img src="{{event.image}}" width="100%">
          </div>
        </div>
      </div>
    {% endfor %}

    {% comment %} Display past events {% endcomment %}
    <h2 style="text-align: center"> Past Events </h2>
    {% for event in page.events reversed %}
    {% if event.end_time %}
      {% capture event-time %} {{ event.end_time | date: "%s" }} {% endcapture %}
    {% else %}
      {% capture event-time %} {{ event.time | date: "%s" }} {% endcapture %}
    {% endif %}
    {% if event-time > current-time %}
      {% continue %}
    {% endif %}
      <div class="border container p-2 mb-3">
        <div class="row align-items-center">
          <div class="col-7 col-md-6 p-3">
            <h4 class="font-weight-bold mb-0 text-dark">{{event.title | markdownify | remove: '<p>' | remove: '</p>'}}</h4>
            {% for para in event.description %}
            <p class="mb-1">{{para | markdownify | remove: '<p>' | remove: '</p>'}}</p>
            {% endfor %}
          </div>
          <div class="col-5 col-md-3">
            <div class="container">
              <div class="row">
                <div class="col flex-grow-0 px-0 align-self-top text-center">
                  <i class="far fa-calendar"></i>
                </div>
                <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block">{{event.time | remove: '<p>' | remove: '</p>'}}</span>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col flex-grow-0 px-0 align-self-top text-center">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block">{{event.location | markdownify | remove: '<p>' | remove: '</p>'}}</span>
                </div>
              </div>
            </div>
            {% if event.links %}
              <div class="container">
                {% for link in event.links %}
                <div class="row">
                  <div class="col flex-grow-0 px-0 align-self-top text-center">
                    <i class="fas fa-link"></i>
                  </div>
                  <div class="col flex-grow-1 pl-3 pr-0">
                    <span class="d-block"><a href="{{ link[1] }}">{{ link[0] }}</a></span>
                  </div>
                </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="col-3 justify-content-center img-responsive d-none d-md-block">
            <img src="{{event.image}}" width="100%">
          </div>
        </div>
      </div>
    {% endfor %}

    {% comment %} Diplays ending message {% endcomment %}
    <p>
      <strong>We will continue planning events throughout the quarter!</strong> The best way to stay up-to-date on events is to:
      <ul>
        <li >Join one of our <a href="/listhost">mailing lists</a>, including specific ones for theater trips or shows.</li>
        <li >Follow us on <a href="https://instagram.com/university.theater">Instagram</a> or <a href="https://facebook.com/universitytheater">Facebook</a>!</li>
      </ul>
      <strong>Have an idea for an event?</strong> Contact us at <a href="mailto:ut-committee@lists.uchicago.edu">ut-committee@lists.uchicago.edu</a> or message us on <a href="https://instagram.com/university.theater">Instagram</a>! 
    </p>
    <p>
      <strong><a href="/archive/events">Events Archive</a></strong>
    </p>
  </div>
</article>