---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title | escape }}
      {% if page.slug contains "new-work-week" %}
        {{ page.year }}
      {% elsif page.slug contains "weekend-workshops" %}
        ({{ page.quarter | capitalize }} {{ page.year }})
      {% endif %}
    </h1>
    <h5 class="mt-2 mb-2">{{ page.subheader | newline_to_br }}</h5>
  </header>

  <div class="post-content">
    {% capture image_prefix %}assets/images/{{page.year}}/{{page.slug}}/slide{% endcapture %}
    {% assign has_show_images = false %}
    {% for image in site.static_files %}
      {% if image.path contains image_prefix %}
        {% assign has_show_images = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    
    {% if has_show_images == false %}
      <div class="text-center">
        <img src="/assets/images/{{page.year}}/{{page.slug}}/banner.jpg" class="img-fluid show-banner"></img>
      </div>
    {% else %}
      <div id="show-gallery" class="carousel slide" data-ride="carousel" style="height: 30%;">
        <div class="carousel-inner" style="min-width: 100%; width: 100%; height: 100%">
          <div class="carousel-item active text-center" style="width: 100%;height: 100%;">
            <img src="/assets/images/{{page.year}}/{{page.slug}}/banner.jpg" style="max-width: 78%; max-height: 30rem;" class="center-block" alt="...">
          </div>
          {% for image in site.static_files %}
            {% if image.path contains image_prefix %}
            <div class="carousel-item text-center" style="width: 100%;height: 20%;">
              <img src="{{image.path}}" class="center-block" style="max-width: 78%; max-height: 30rem;" alt="...">
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#show-gallery" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#show-gallery" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    {% endif %}

    <p class="mt-3">{{ page.description }}</p>
    {% if page.workshops %}
      {% for workshop in page.workshops %}
        <h4 class="mt-2 mb-2">{{workshop.title | markdownify | remove: '<p>' | remove: '</p>'}}</h4>
        <p>{{workshop.description}}</p>
        {% for actor in workshop.roles %}
          <p><strong>{{actor.name | markdownify | remove: '<p>' | remove: '</p>'}}</strong> ({{actor.role}}) {{actor.bio | markdownify | remove: '<p>' | remove: '</p>'}}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
    {% if page.roles %}
      {% for role in page.roles %}
        <h4 class="mt-2 mb-2">{{role[0] | markdownify | remove: '<p>' | remove: '</p>'}}</h4>
        {% for actor in role[1] %}
          <p><strong>{{actor.name | markdownify | remove: '<p>' | remove: '</p>'}}</strong> ({{actor.role}}) {{actor.bio | markdownify | remove: '<p>' | remove: '</p>'}}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
    {{ content }}
  </div>
</article>
