---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
     <h5 class="mt-2 mb-2">{{ page.subheader | newline_to_br }}</h5>
  </header>

  <div class="post-content">
    <div class="text-center">
      <img src="/assets/show-banners/{{ page.slug }}.jpg" class="img-fluid show-banner"></img>
    </div>

    <p class="mt-3">{{ page.description }}</p>
    {% if page.roles %}
      {% for role in page.roles %}
        <h4 class="mt-2 mb-2">{{role[0]}}</h4>
        {% for actor in role[1] %}
          <p><strong>{{actor.name}}</strong> ({{actor.role}}) {{actor.bio}}</p>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</article>
